.button-section
.slider-section
.appBar-section
.progress-section
.avatar-section
.icon-section
.list-section
.rating-section
.treeView-section
  h3 
    margin: 18px 10px 18px 0;
    font-size: 20px;
  .button 
  .fab
  .extendedIcon
  .margin
    margin: 5
  .section
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey 
    padding-bottom: 20px
.menu-section 
    margin: auto;
    display: flex;
    outline: 0;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    justify-content: center;
    background-color: #f5f5f5;
  .menu 
    position absolute
.appBar-section
  .text 
    padding 20px 20px 0
  .paper
    padding-bottom 50px
  .list
    margin-bottom 20px
  .appBar
    top 'auto'
    bottom 0
  .grow
    flex 1
  .fabButton 
      position: 'absolute'
      z-index: 1
      top: -30px
      left: 0
      right: 0
      margin: '0 auto'
.avatar-section
  .display 
    justify-content space-around
  .avatar
    margin 0
  .bigAvatar
    margin 0
    width 60px
    height 60px
  .MuiAvatar-colorDefault
    &.avatarFolder
      margin 10px
    &.pinkAvatar
    &.greenAvatar
      margin 10px
      color #ffffff
      background-color #FF3E96
    &.greenAvatar
      background-color #00CD66
.rating-section
  display flex
  flex-direction column
  align-items center