@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #17324d;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  user-select: text;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  line-height: 1;
  background-color: #fbfbfb;
  margin: 0;
}
.strong {
  font-weight: 700;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.25;
}
h1 {
  font-size: 1.5rem;
  color: #0a1f33;
}
h2 {
  font-size: 1.25rem;
  color: #0a1f33;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}
a {
  color: #5c7a99;
  text-decoration: none;
  transition: 0.1s color linear;
}
a:hover {
  color: #005fb2;
}
a:active {
  color: #00396b;
}
.svgwrapper .icon {
  display: inline-block;
}
iframe {
  border: none;
}
.footer {
  padding-top: 20px;
  border-top: 1px solid #d3d3d3;
  margin-top: 60px;
}
nav {
  background: #efe9db;
  width: 250px;
  height: 100%;
  position: fixed;
}
nav > div {
  height: 56px;
}
nav > div a {
  display: inline-block;
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
}
nav > div a > *:first-child {
  margin-left: 20px;
  margin-right: 40px;
}
.top-header {
  height: 80px;
  background: #4b553a;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.top-header .header-left {
  display: flex;
}
.top-header .header-left .menu-icon,
.top-header .header-left .logo {
  cursor: pointer;
}
.top-header .header-left .logo {
  width: 50px;
  height: 50px;
}
.top-header .exit {
  cursor: pointer;
}
.colors iframe {
  width: 100%;
  height: 90vh;
}
.App-Content {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.App-Content .content {
  width: 100%;
  margin: 0px 50px 10px 30px;
}
